[user]
	email = aj@48k.io
	name = AJ
[alias]
	s = status
	l = log --oneline
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
[http]
	sslVerify = false
[core]
	trustctime = false
	fileMode = false
	pager = delta
[delta]
    features = unobtrusive-line-numbers decorations
    plus-color = "#012800"
    minus-color = "#340001"
    syntax-theme = Monokai Extended
    whitespace-error-style = 22 reverse
[interactive]
    diffFilter = delta --color-only
[delta "unobtrusive-line-numbers"]
    line-numbers = true
    line-numbers-minus-style = "#444444"
    line-numbers-zero-style = "#444444"
    line-numbers-plus-style = "#444444"
    line-numbers-left-format = "{nm:>4}┊"
    line-numbers-right-format = "{np:>4}│"
    line-numbers-left-style = blue
    line-numbers-right-style = blue
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = yellow box
