[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/wakeful/.emacs.d.git
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
