.emacs.d/
.irssi/
.ssh/known_hosts
.ssh/ids/
.ssh/id_rsa
.ssh/id_rsa.pub
.oh-my-zsh/
.terraform.d/
bin/
tools/
*.db
*.swp
.history
.lesshst
.viminfo
.Xauthority
.zcompdump-ht-5.2
.zsh-update
.zsh_history
.zshrc.pre-oh-my-zsh
