.bundle/
.cache/
.config/
Downloads/
.docker/
.gem/
.ghc/
.gnupg/
.java/
.local/
.macromedia/
.mozilla/
.npm/
.oh-my-zsh-custom/
.packer.d/
.ssh/authorized_keys
.ssh/known_hosts
.ssh/conf.d/
.ssh/ids/
.ssh/id_rsa
.ssh/id_rsa.pub
.oh-my-zsh/
.terraform.d/
.thumbnails/
.vagrant.d/
.vim/plugins/
bin/
fontconfig/
go/
laatu/
tools/
*.db
*.swp
.history
.ICEauthority
.lesshst
.mail_aliases
.mailrc
.PhpStorm*
.profile
.rhosts
.RubyMine*
.shrc
.viminfo
.Xauthority*
.xsession-errors
.zcompdump-*
.zsh-update
.zsh_history
.zshrc.pre-oh-my-zsh
firefox.core
xfce4-panel.*
xfwm4.core
