*.db
*.swp
.ICEauthority
.PhpStorm*
.RubyMine*
.Xauthority*
.bundle/
.cache/
.config/
.dbus/
.docker/
.fehbg
.fontconfig/
.gem/
.ghc/
.gnupg/
.history
.java/
.lesshst
.local/
.macromedia/
.mail_aliases
.mailrc
.mozilla/
.npm/
.oh-my-zsh-custom/
.oh-my-zsh/
.packer.d/
.profile
.rhosts
.shrc
.ssh/authorized_keys
.ssh/conf.d/
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/ids/
.ssh/known_hosts
.terraform.d/
.thumbnails/
.vagrant.d/
.vim/plugins/
.viminfo
.xsession-errors
.zcompdump-*
.zsh-update
.zsh_history
.zshrc.pre-oh-my-zsh
Downloads/
bin/
dbus-launch.core
firefox.core
fontconfig/
go/
laatu/
tools/
xfce4-panel.*
xfwm4.core
